$primaryColor: #264653;
$secondaryColor: #189386;
$buttonColor: #e76f51;

$boxShadow: 2px 2px 4px rgba(0,0,0,0.1);
$borderRadius: .25rem;

button.primaryButton {
  background: $buttonColor;
  color: #fff;
  border: none;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem 1.25rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  img {
    display: block;
    height: 1rem;
    margin-right: .5rem;
  }
  span {
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 400;
  }
  &:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  &:focus {
    outline: none;
  }
}

.slideOutMenu {
  position: fixed;
  z-index: 5;
  width: 240px;
  height: 100vh;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  transition: right 0.3s ease-in-out;
  right: -240px;
  top: 0;
  background: #fff;
  margin: 0;
  &.visible {
    right: 0px;
  }
}

.shade {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(0,0,0,0.3);
}

body {
  background: #ddd;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #111;
  margin: 0;
}

.container {
  max-width: calc(100vw - 80px);
  margin: 112px auto 40px auto;
  background: #fff;
  box-sizing: border-box;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  max-height: calc(100vh - 152px);
  overflow: auto;
  position: relative;
  z-index: 1;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  thead {
    box-shadow: 1px 4px 4px rgba(0,0,0,0.1);
  }
  tr {
    th, td {
      padding: .5rem .75rem;
      white-space: nowrap;
    }
    td {
      // first cell of each row
      &:first-child {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        z-index: 1;
        background: #fff;
        box-shadow: $boxShadow;
      }
    }
    th {
      box-sizing: border-box;
      border: none;
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      top: 0;
      background: $secondaryColor;
      color: #fff;
      z-index: 1;

      // first header cell
      &:first-child {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        z-index: 2;
        background: $primaryColor;
        box-shadow: $boxShadow;
      }
    }
    &:nth-child(even) {
      background: whitesmoke;
    }
  }
}

.filtersContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-sizing: border-box;
  box-shadow: $boxShadow;
  padding: 1rem;
  z-index: 5;
  .appliedFilters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    .appliedFiltersHeader {
      list-style: none;
      font-weight: 400;
      margin-right: .5rem;
      color: #444;
    }
    .appliedFilterButton {
      width: auto;
      list-style: none;
      color: #fff;
      font-size: .75rem;
      font-weight: 400;
      padding: .25rem .5rem;
      background: #999;
      display: flex;
      border-radius: 1rem;
      span:first-child {
        margin-right: .25rem;
      }
      margin-right: .25rem;
      button {
        border: none;
        padding: none;
        background: none;
        cursor: pointer;

        img {
          display: block;
          width: 8px;
        }
      }

    }
  }
}

.inputWrapper {
  margin-bottom: 1rem;
  label {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    margin-bottom: .25rem;
  }
}

.rangeFilterWrapper {
  display: flex;
  align-items: center;
  span {
    font-size: .75rem;
    font-weight: 400;
    margin: 0 .25rem;
  }
}

input, select {
  color: #6e6d7a;
  background: rgba($primaryColor, 0.1);
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: $borderRadius;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondaryColor;
  }
}

.tableSort {
  display: flex;
  align-items: center;
  span, select {
    margin-right: .5rem;
  }
  span {
    white-space: nowrap;
  }
}
