sort by:
<select {{on "input" (fn this.setName)}}>
  {{#each @sortableColumns as |sortOption|}}
    <option value={{sortOption}}>{{sortOption}}</option>
  {{/each}}
</select>
from:
<select {{on "input" (fn this.setDirection)}}>
  <option value="descending">high to low</option>
  <option value="ascending">low to high</option>
</select>
