<div class="tableSort">
  <span>Sort by:</span>
  <select {{on "input" (fn this.setName)}}>
    {{#each @sortableColumns as |sortOption|}}
      <option value={{sortOption}}>{{sortOption}}</option>
    {{/each}}
  </select>
  <span>from:</span>
  <select {{on "input" (fn this.setDirection)}}>
    <option value="descending">high to low</option>
    <option value="ascending">low to high</option>
  </select>
</div>
